@charset "UTF-8";

@font-face {
    font-family: 'android';
    src: url(fontes/idroid.otf);
}
.semlink{
    color: #185a36;
    font-weight: bold;
}
.comlink{
    color: #185a36;
    font-weight: bold;
    text-decoration: none;
}
.comlink:hover{
    color: #3cd883;
}
.comlink:active{
    color: #3cd883;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #84e1ad;
}
header{
    color: white;
    background-image: linear-gradient(to bottom, #3cd883, #134329);
    padding: 1px;
    margin: 0px;
    padding-bottom: 15px;
    box-shadow: 1px 1px 10px black;
}
header > h1{
    text-align: center;
    font-weight: lighter;
    font-size: 40px;
    margin-top: 30px;
    text-shadow: 1px 1px 1px black;
}
header > p{
    text-align: justify;
    text-align: center;
    margin: 0px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px black;
}
header > nav{
    display: inline;
    font-size: px;
    padding: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-shadow: 1px 1px 1px black;
    border-radius: 20px;
}
header >h1{
    font-family: 'Bebas Neue', sans-serif;
}
nav:hover{
    color: #134329;
    background-color: #34b860;
    border-radius: 20px;
    text-shadow: none;
    transition: 400ms;
}
main{
    margin: auto;
    width: 76vw;
    text-align: justify;
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 1px 1px 10px #00000057;
}
main > section > article> h1{
    color: #185a36;
    font-size: 29px;
}
main > section > article > h2{
    color: #185a36;
    font-size: 25px;
    background-image:linear-gradient(to right, #84e1ad, #84e1ac00) ;
}
main > section > article > h1,h2{
    font-family: android;
}
main > section{
    font-weight: lighter;
    word-spacing: 3px;
    line-height: 25px;
}
picture > img{
    margin: auto;
    text-align: center;
    width: 76vw;
}
div{
    display: flexbox;
}
div > img{
    display: grid;
    margin: auto;
}
#l{
    background-color: #134329;
    height: 100%;
    margin-left: -10px;
    margin-right: -10px;
    border: 0px;
    padding: 0px;
}
iframe{
    position: sticky;
    display: grid;
    margin: auto;
    padding: 10px;
    width: 76vw;
    min-height: 100%;
}
aside{
    background-color: #ceffe4;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
    word-spacing: 5px;
    line-height: 25px
}
aside > h3{
    color: white;
    background-color: #34b860;
    margin: -10px;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
}
.lista{
    display: inline-block;
    margin: auto;
}
.lista2{
    display: inline-block;
}
main > p{
    word-spacing: 5px;
    line-height: 25px;
}
footer{
    color: white;
    font: bolder;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #134329;
    margin: 0px;
    padding: 5px;
    margin-top: 20px;
}
footer > p {
    margin: 0px;
    border: 0px;
    padding: 0px;
}