body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
}
footer{
    text-align:center;
    font-weight:bold;
    background: #000;
}
header {
    font-weight:bold;
    color: white; 
    text-align: center;
    padding: 60px 20px;  
}
header h2 {
    font-size: 6vw;
    margin: 0;
    font-weight: bold;
}
header a{
    color: white; 
    font-weight:bold;
}
.first{
    background-image:url('imagens/background001.jpg');
    background-position:right center;
    background-attachment:fixed;
    font-weight:bold;
    padding:20px 30px;
}
.second{
    background-image:url('imagens/background002.jpg');
    background-position:right center;
    background-attachment:fixed;
    font-weight:bold;
    padding:20px 30px;
}
header p {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
.text {
    background-color: white !important;
    padding: 10px 30px;
    margin: 20px 0px;
    font-weight: bold;
}
