/* ==================== Definição da Font do Site ==================== */
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}
/* ==================== Fim da Definição da Font do Site ==================== */

:root {
    --body: #F9F8FD;
    --white: #FFFFFF;
    --roxo: #4642DD;
    --cean: #32A2FB;
    --dark: #23314B;
    --action-blue: #0056D2;
    --success-green: #00A86B;
    --accent-yellow: #FFD700;
    --deep-black: #1A1A1A;
    --blue-gray: #64748B;
    --light-border: #E2E8F0;
    --off-white: #F8FAFC;
}

/* ==================== Reset da Estilização Padrão ==================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
/* ==================== Fim do Reset da Estilização Padrão ==================== */

/* ==================== Estilização Geral ==================== */
body {
    padding: 1rem 5rem;
    background-color: var(--body);
}

h1, h2 {
    color: var(--deep-black);
}

p, a {
    color: var(--blue-gray);
}
/* ==================== Fim da Estilização Geral ==================== */

/* ==================== Estilização do Cabeçalho do Site ==================== */
header {
    display: flex;
    font-size: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header #navigation {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header #navigation #navlist ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

header #navigation li, a {
    font-size: 0.8rem;
    text-decoration: none;
    list-style: none;
    transition: 0.4s ease-in-out;
}

header #navigation li a:hover {
    color: var(--roxo);
    font-size: 1.2rem;
}

header img {
    width: 150px;
    height: 70px;
}

header #button {
    display: flex;
    gap: 1rem;
}

header #button button {
    border: none;
    padding: 0.6rem;
    font-size: 1rem;
}

header #button #btn1 {
    color: var(--roxo);
    font-weight: 600;
    transition: 0.3s ease-in-out;
    background-color: var(--white);
}

header #button #btn1:hover {
    color: var(--off-white);
    background-color: var(--roxo);
}

header #button #btn2 {
    color: var(--off-white);
    font-weight: 600;
    transition: 0.3s ease-in-out;
    background-color: var(--roxo);
}

header #button #btn2:hover {
    color: var(--roxo);
    background-color: var(--off-white);
}
/* ==================== Fim da Estilização do Cabeçalho do Site ==================== */

/* ==================== Estilização da Hero Section ==================== */
#hero-section {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
}

#conteudo {
    width: 25rem;
}

#empty {
    width: 25rem;
}

#conteudo h1 {
    color: var(--dark);
    font-size: 4rem;
}

#conteudo h2 {
    font-size: 3rem;
    color: var(--cean);
}

#Main {
    margin-bottom: 2rem;
}

/* ==================== Fim da Estilização da Hero Section ==================== */

/* ==================== Estilização da Search Section ==================== */
#search {
    padding: 1rem;
    background-color: var(--white);
}

#search i {
    font-size: 1.5rem;
}

#inputs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.provincia {
    gap: 0.2rem;
    display: flex;
    align-items: center;
}

.vagas {
    display: flex;
}

.vagas .btn {
    border: none;
    padding: 0.5rem;
    font-weight: 600;
    border-radius: none;
    color: var(--off-white);
    transition: 0.3s ease-in-out;
    background-color: var(--roxo);
}

.vagas select {
    font-size: 0.7rem;
    color: var(--blue-gray);
}

.cargo input {
    color: var(--off-white);
    font-size: 0.7rem;
    padding: 0.5rem;
    width: 13rem;
}

.paragraph {
    padding: 1rem 0;
}

.paragraph p {
    font-size: 0.8rem;
    color: var(--blue-gray);
}
/* ==================== Estilização da Search Section ==================== */
#feature {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


#feature p {
    font-size: 1rem;
}

#feature .little-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}